!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title hans.io
    %meta{content: "hans.io", name: "description"}
    %meta{content: "Hans Hasselberg", name: "author"}
    %link{href: "http://twitter.github.com/bootstrap/1.3.0/bootstrap.css", rel: "stylesheet"}
    %link{href: "http://twitter.github.com/bootstrap/assets/css/docs.css", rel: "stylesheet"}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{src: "bootstrap-scrollspy.js"}
      :css
        body {
          padding-top: 60px;
        }
  %body
    .topbar{data: {scrollspy: "scrollspy"}}
      .fill
        .container
          %a.brand{href: "#"} hans.io
          %ul.nav{data: {tabs: "tabs"}}
            %li.active
              %a{href: "#home"} Home
            %li
              %a{href: "#about"} About me
            %li
              %a{href: "#skills"} Technical skills
            %li
              %a{href: "#cv"} Curriculum Vitae
            %li
              %a{href: "#hobbies"} Hobbies
            %li
              %a{href: "#contact"} Contact
    .container
      .hero-unit#home
        %h1 Hello, world!
        %p.lead
          I'm a developer, currently working with Rails which is fun.
          %br
          But I'm very open minded and interested in a lot of stuff, so
          %strong don't
          hesitate to
          %a{href: '#contact'}
            %strong Contact me!
      %section#about
        .page-header
          %h1
            About me
            %small Introduction
        %p
          I'm a 28 years old developer, located in Potsdam. I love
          getting things done, coding and more generally learning new
          stuff.
          %br
          %br
          Have fun looking around!
      %section#skills
        .page-header
          %h1
            Technical skills
            %small /(bb|[^b]{2})/
        .row
          .span4
            Programming Languages and Frameworks
          .span12
            Ruby, Rails, Sinatra, Javascript, NodeJS, Java, C++, C
        .row
          .span4
            Databases
          .span12
            MySQL, MongoDB, Redis, SQLite
        .row
          .span4
            Operating Systems
          .span12
            OS X, Linux, OpenBSD, Windows
        .row
          .span4
            others
          .span12
            Google Adwords API, Salesforce API, Chef &amp; Opscode.

        %h3 Projects
        .row
          .span4
            %a{href: 'https://github.com/i0rek/longjohn'} Longjohn
          .span12
            Longjohn is a software to manage studios and equipment for the
            sound engineers from the UDK Berlin.
            %br
            At the moment only the equipment reservation works, but there
            is at least some code to look at.
        .row
          .span4
            %a{href: 'https://github.com/organizations/healthety'}
              Healthety
          .span12
            We developed Healthety at K&auml;uferportal because we wanted
            to monitor the load from every server in realtime.
            %br
            And now we can use this tool on nearly any other number as
            well. Its so damn simple to add a chart that we now have like
            10 different reporters on about 20 machines reporting their
            numbers (load, memory, revenue, mail delivery, outgoing
            calls, db replica state, &hellip;).
        .row
          .span4
            %a{href: 'https://github.com/soldat/soldat.js'} Soldat.js
          .span12
            There is a big vision behind Soldat.js, we want to port
            the original
            %a{href: 'http://soldat.thd.vg/'} Soldat
            to webgl. At the moment this repo is a playground to create a
            basic game and explore the possibilities. Besides from our
            main goal, we decided to use
            %a{href: 'http://jashkenas.github.com/coffee-script'}
              coffeescript
            just because we can.
      %section#cv
        .page-header
          %h1
            Curriculum Vitae
            %small Brief history.
        %h3 Work Experience
        .row
          .span4
            since Aug 2011
          .span12
            Side Project: Rails Developer at&nbsp;
            %a{href: 'http://www.udk-berlin.de/'}> University of the Arts
            , Berlin
        .row
          .span4
            since Jun 2010
          .span12
            Rails Developer at&nbsp;
            %a{href: 'http://www.kaeuferportal.de'}> Beko K&auml;uferportal
            , Berlin
        .row
          .span4
            Feb 2010 - Jun 2010
          .span12
            Rails Developer at&nbsp;
            %a{href: 'http://www.mmpg.de/'}> MMP Group
            , Hamburg
        .row
          .span4
            Jan 2010 - Feb 2010
          .span12
            Java Developer at&nbsp;
            %a{href: 'http://www.brands4friends.de/'}> Brands4Friends
            , Berlin
        .row
          .span4
            Apr 2009 - Nov 2009
          .span12
            Masterthesis: Analysis of a composable system
            architecture at
            %a{href: 'http://www.siemens.de/'} Siemens
            and&nbsp;
            %a{href: 'http://www.tu-berlin.de/'}> Technische Universit&auml;t
            , Berlin
        .row
          .span4
            Nov 2007 - Mar 2009
          .span12
            Working student (firmware development) at&nbsp;
            %a{href: 'http://www.siemens.de/'}> Siemens
            , Berlin
        .row
          .span4
            Oct 2006 - Sep 2007
          .span12
            Bachelorthesis: LectureBrowser - Videosearchengine and
            Annotationtool at&nbsp;
            %a{href: 'http://www.hpi.uni-potsdam.de/'}> Hasso-Plattner-Institute
            , Potsdam

        %h3 University Education
        .row
          .span4
            Oct 2007 - Nov 2009
          .span12
            Student at&nbsp;
            %a{href: 'http://www.tu-berlin.de/'}> Technische Universit&auml;t
            , Berlin
            %br
            Master of Science in Information Technology
        .row
          .span4
            Oct 2004 - Nov 2007
          .span12
            Student at&nbsp;
            %a{href: 'http://www.hpi.uni-potsdam.de/'}> Hasso-Plattner-Institute
            , Potsdam
            %br
            Bachelor of Science in Information Technology
        %h3 School Education
        .row
          .span4
            Nov 2003 - Jul 2004
          .span12
            Civillian Service, Berlin
        .row
          .span4
            Sep 1996 - Aug 2003
          .span12
            High School, Berlin
        .row
          .span4
            Sep 1990 - Aug 1996
          .span12
            Primary School, Berlin
      %section#hobbies
        .page-header
          %h1
            Hobbies
            %small Lots of interesting things.
        .row
          .span4
            Swimming
          .span12
            I always found swimming to be boring until I discovered
            %a{href: 'http://en.wikipedia.org/wiki/Total_Immersion'}
              Total Immersion
            3 years ago. This technique was what
            I was looking for so long!
            Swimming feels natural and is fun, now.
        .row
          .span4
            Kungfu
          .span12
            After six years of training
            %a{href: 'http://www.damo-chuan.de'} Damo Chuan Kungfu
            I decided to cancel my membership June 2011 because of the
            lack of time. But I will continue this beautiful sport as
            soon as possible.
        .row
          .span4
            Lockpicking
          .span12
            Lockpicking has imho much in commen with reverse engeneering,
            thats why I choose september 2009 to buy a kit and learn to
            pick locks. Turns out that this is much harder than I
            thought and it took me two month till my first&nbsp;
            %a{href: 'open_lock.jpg'}> success
            \. So, don't wory about your new flatscreen.
        .row
          .span4
            Pool Billard
          .span12
            Long long time ago I played pretty decent! Now its good enough
            to beat beginners. I don't play very often any more, but still
            like it.
      %section#contact
        .page-header
          %h1
            Contact
            %small Some ways get in touch.
        .row
          .span4
            Email
          .span12
            %a{href: 'mailto:me@hans.io'} me@hans.io
        .row
          .span4
            Twitter
          .span12
            %a{href: 'https://twitter.com/#!/i0rek'} @i0rek
        .row
          .span4
            Github
          .span12
            %a{href: 'https://github.com/i0rek'} i0rek
        .row
          .span4
            Xing
          .span12
            %a{href: 'http://www.xing.com/profile/Hans_Hasselberg'}
              Hans Hasselberg
        .row
          .span4
            Call
            %span.help-block Can't wait, hmm?
          .span12
            %a{href: 'tel:me@hans.io'} 01570 3520556
      %section#end
        .page-header
          %h1 The End
        %p
          This page was created with&nbsp;
          %a{href: 'http://www.vim.org'}> Vim
          ,
          %a{href: 'http://twitter.github.com/bootstrap'} Bootstrap
          and
          %a{href: 'http://haml-lang.com/'} Haml
          under
          %a{href: 'http://www.apple.com/macosx/'} OS X
          \.
          %br
          Any feedback, typos and improvents are very appreciated!
          %a{href: '#contact'} Contact me
          or&nbsp;
          %a{href: 'https://github.com/i0rek/i0rek.github.com'}> create a pull request
          \.
          %br
          %br
          %strong Thanks for visiting!
      %footer
        %p
          © hans.io 2011
