!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title hans.io
    %meta{content: "hans.io", name: "description"}
    %meta{content: "Hans Hasselberg", name: "author"}
    %link{href: "bootstrap/css/bootstrap.min.css", rel: "stylesheet"}
    :css
      body {
        padding-top: 60px;
      }
      section {
        padding-top: 60px;
      }
      h3 {
        padding-top: 10px;
      }
  %body{data: {spy: "scroll", target: "#navbar"}}
    #navbar.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{data: {toggle: "collaps", target: ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "#"} hans.io
          .nav-collaps
            %ul.nav
              %li.active
                %a{href: "#home"} Home
              %li
                %a{href: "#about"} About me
              %li
                %a{href: "#skills"} Technical skills
              %li
                %a{href: "#cv"} Curriculum Vitae
              %li
                %a{href: "#hobbies"} Hobbies
              %li
                %a{href: "#contact"} Contact

    .container
      .hero-unit#home
        %h1
          hello, world
        %p.lead
          I'm a developer, currently working with Rails which is fun.
          %br
          But I'm very open minded and interested in a lot of stuff, so
          %strong don't
          hesitate to
          %a{href: '#contact'}
            %strong Contact me!
      %section#about
        .page-header
          %h1
            About me
            %small Introduction
        %p
          I'm a 28 years old developer, living in Potsdam. I love
          getting things done, coding and more generally learning new
          stuff.
          %br
          Developing Rails webapplications is part of my life since 2007
          when I started to implement an online finance management
          software as a side project. Two years later it turned out to be
          way to complex for me and I abandoned it, but Rails is still
          there.
          %br
          I tried to create a decent overview about what I did the last
          years and hope you can get an impression.
          %br
          %br
          Have fun looking around!
      %section#skills
        .page-header
          %h1
            Technical skills
            %small /(bb|[^b]{2})/
        .row.show-grid
          .span3
            Programming Languages and Frameworks
          .span9
            Ruby, Rails, Sinatra, Javascript, NodeJS, Java, C++, C
        .row
          .span3
            Databases
          .span9
            MongoDB, Redis, MySQL
        .row
          .span3
            others
          .span9
            Vim, Git, Google Adwords API, Salesforce API, Facebook API,
            Chef &amp; Opscode.

        %h3 Projects
        .row
          .span3
            %a{href: 'https://github.com/i0rek/longjohn'} Longjohn
          .span9
            Longjohn is a software to manage studios and equipment for the
            sound engineers from the UDK Berlin.
            %br
            Its still under development but at least some code to look at.
        .row
          .span3
            %a{href: 'https://github.com/healthety'}
              Healthety
          .span9
            We developed Healthety at K&auml;uferportal because we wanted
            to monitor the load from every server in realtime.
            %br
            And now we can use this tool on nearly any other number as
            well. It's so simple to add a chart that we now have like
            10 different reporters on about 20 machines reporting their
            numbers (load, memory, revenue, mail delivery, outgoing
            calls, db replica state, &hellip;).
      %section#cv
        .page-header
          %h1
            Curriculum Vitae
            %small Brief history.
        %h3 Work Experience
        .row
          .span3
            since Nov 2011
          .span9
            Rails Developer at&nbsp;
            %a{href: 'http://www.1000jobboersen.de'}> 1000 Jobb&ouml;rsen
            , Berlin
        .row
          .span3
            Jun 2010 - Nov 2011
          .span9
            Rails Developer at&nbsp;
            %a{href: 'http://www.kaeuferportal.de'}> Beko K&auml;uferportal
            , Berlin
        .row
          .span3
            Feb 2010 - Jun 2010
          .span9
            Rails Developer at&nbsp;
            %a{href: 'http://www.mmpg.de/'}> MMP Group
            , Hamburg
        .row
          .span3
            Jan 2010 - Feb 2010
          .span9
            Java Developer at&nbsp;
            %a{href: 'http://www.brands4friends.de/'}> Brands4Friends
            , Berlin
        .row
          .span3
            Apr 2009 - Nov 2009
          .span9
            Masterthesis: Analysis of a composable system
            architecture at
            %a{href: 'http://www.siemens.de/'} Siemens
            and&nbsp;
            %a{href: 'http://www.tu-berlin.de/'}> Technische Universit&auml;t
            , Berlin
        .row
          .span3
            Nov 2007 - Mar 2009
          .span9
            Working student (firmware development) at&nbsp;
            %a{href: 'http://www.siemens.de/'}> Siemens
            , Berlin
        .row
          .span3
            Oct 2006 - Sep 2007
          .span9
            Bachelorthesis: LectureBrowser - Videosearchengine and
            Annotationtool at&nbsp;
            %a{href: 'http://www.hpi.uni-potsdam.de/'}> Hasso-Plattner-Institute
            , Potsdam

        %h3 University Education
        .row
          .span3
            Oct 2007 - Nov 2009
          .span9
            Student at&nbsp;
            %a{href: 'http://www.tu-berlin.de/'}> Technische Universit&auml;t
            , Berlin
            %br
            Master of Science in Information Technology
        .row
          .span3
            Oct 2004 - Nov 2007
          .span9
            Student at&nbsp;
            %a{href: 'http://www.hpi.uni-potsdam.de/'}> Hasso-Plattner-Institute
            , Potsdam
            %br
            Bachelor of Science in Information Technology

        %h3 School Education
        .row
          .span3
            Nov 2003 - Jul 2004
          .span9
            Civilian Service, Berlin
        .row
          .span3
            Sep 1996 - Aug 2003
          .span9
            High School, Berlin
      %section#hobbies
        .page-header
          %h1
            Hobbies
            %small Lots of interesting things.
        .row
          .span3
            Swimming
          .span9
            I always found swimming to be boring until I discovered
            %a{href: 'http://en.wikipedia.org/wiki/Total_Immersion'}
              Total Immersion
            3 years ago. This technique was what
            I was looking for so long!
            Swimming feels natural and is fun, now.
        .row
          .span3
            Kungfu
          .span9
            After six years of training
            %a{href: 'http://www.damo-chuan.de'} Damo Chuan Kungfu
            I decided to cancel my membership June 2011 because of the
            lack of time. But I will continue this beautiful sport as
            soon as possible.
        .row
          .span3
            Lockpicking
          .span9
            Lockpicking has imho much in common with reverse engineering,
            that's why I chose in September 2009 to buy a kit and learn to
            pick locks. Turns out that this is much harder than I
            thought and it took me two month till my first&nbsp;
            %a{href: 'open_lock.jpg'}> success
            \. So, don't worry about your new flatscreen.
        .row
          .span3
            Pool Billard
          .span9
            Long long time ago I played pretty decent! Now it's good enough
            to beat beginners. I don't play very often any more, but still
            like it.
        .row
          .span3
            Open Source
          .span9
            I contributed to various open source projects. Most of the time
            for
            %a{href: 'https://github.com/mongoid/mongoid'} Mongoid
            the famous ruby mongodb orm.
      %section#contact
        .page-header
          %h1
            Contact
            %small Some ways get in touch.
        .row
          .span3
            Email
          .span9
            %a{href: 'mailto:me@hans.io'} me@hans.io
        .row
          .span3
            Twitter
          .span9
            %a{href: 'https://twitter.com/#!/i0rek'} @i0rek
        .row
          .span3
            Github
          .span9
            %a{href: 'https://github.com/i0rek'} i0rek
      %section#end
        .page-header
          %h1 The End
        %p
          This page was created with&nbsp;
          %a{href: 'http://www.vim.org'}> Vim
          ,
          %a{href: 'http://twitter.github.com/bootstrap'} Bootstrap
          and&nbsp;
          %a{href: 'http://haml-lang.com/'}> Haml
          \.
          %br
          Any feedback, typos and improvements are very appreciated!
          %a{href: '#contact'} Contact me
          or&nbsp;
          %a{href: 'https://github.com/i0rek/i0rek.github.com'}> create a pull request
          \.
          %br
          %br
          %strong Thanks for visiting!
      %footer
        %p
          © hans.io 2011&ndash;2012,
          Last updated at 02/20/2012
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{src: "bootstrap/js/bootstrap.min.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25831094-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
